
importFrom(biomaRt, getBM, useMart)
importFrom(graphics, abline, arrows, axis, curve, hist, mtext, par,
           plot, points, polygon, rect, segments, text)
importFrom(grDevices, col2rgb, colorRampPalette, rgb, topo.colors)
importFrom(zoo, rollapply)

export(addlegend  ,labelgenome ,labelplot ,maptocolors ,
maptolwd ,opaque ,plotBed ,plotBedgraph ,plotBedpe ,
plotGenes ,plotHic ,plotManhattan ,SushiColors ,
zoombox ,zoomsregion)


